.panel {
    display: flex;
    height: 100%;
    padding-top: 3%;
    flex: 0.2;
    justify-content: center;
    align-items: flex-start;
}

.border-panel {
    border-width: 1px;
    border-style: ridge;
    border-color: transparent;
    border-left-color: #e0e0f4;
}
