.side-container{
    display: inline-grid;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 40px;
}

.side-marker{
    background-color: #E91E63;
    color: white;
    font-weight: bold;
}

.side-arrow{
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 60px solid #E91E63;
}
