.content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}

.videoPlayer {
    display: flex;
    flex: 0.95;
    flex-direction: column;
}

.titleVideo {
    color: #455A64;
    padding-bottom: 40px;
}
