.content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}

.videoPlayer {
    /*display: flex;*/
    /*flex: 0.9;*/
    flex-direction: column;
}

.titleVideo {
    color: #455A64;
    padding-bottom: 40px;
}

#bar{
    margin-top: 50px;
}

.marker{
    background-color: #E91E63;
    color: white;
    font-weight: bold;
}

.container{
    display: inline-grid;
    padding-right: 10px;
    padding-left: 10px;
}

.container1 {
    cursor: pointer;
    color: #CCC;
    margin-top: 20px;
    /*height: 80px;*/
    /*width: 180px;*/
}

#bar1 {
    margin-top: 30px;
    background: #000;
    display: inline-flex;
}

.arrow{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 50px solid #E91E63;
}
